
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
  }


  main{
    background-color: black;
  }

  .constictor{
    padding: 40px 80px 40px 80px;
  }

  img{
    height: 17vh;
  }

  .nomeutente{
    background-color: rgba(41, 41, 41, 0.616);
    color: white;
    padding: 5px;
    position: relative;
    top: -8px;
    left: -285px;
  }